{% extends 'base.html' %}


{%block body%}
<br>
<br>
<br>
<br>

<h1 style="color:red;">CUSTOMERS FORM</h1>
<br>
<!-- <style>
    body:before{
        content: '';
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-image: url(../static/img/cust6.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .login-form1{
        position: absolute;
        top: 18%;
        width: 45%;
        height: 100vh;
        right: -0%;
        background:rgba(0,0,0,0.6);
    }
</style> -->


<div class="table" class="login-form1 shadow-lg">
    <form method="POST">
    {%csrf_token%}
        <table cellspacing="10" border="1">
            {{form.as_table}}
                <tr>
                    <td><input type="submit" value="Save"></td>
                    <td><input type="reset" value="Reset"></td>
                </tr>
        </table>
    </form>
</div>
<br>
<br>
<br>
<br>
{%endblock%}
