{%extends 'base.html'%}
<div>
{%block body%}
<br>
<br>
<br>
<br>
<h1 style="color: red;">CUSTOMER LIST</h1>
<br>
<table class="table"  border="1" cellspacing="10">
    <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Name</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Address</th>
        <th>Referred-By</th>
        <th>Customer-Remarks</th>
        <th colspan='2'>Action</th>   
    </tr>
    {%for i in clist%}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.date}}</td>
            <td>{{i.name}}</td>
            <td>{{i.contact}}</td>
            <td>{{i.email}}</td>
            <td>{{i.address}}</td>
            <td>{{i.referred_by}}</td>
            <td>{{i.customer_remarks}}</td>
            <td><a href="{%url 'customersapp:deletecustomers' i.id%}">Delete</a></td>
            <td><a href="{%url 'customersapp:editcustomers' i.id%}">Edit</a></td>
        </tr>
    {%endfor%}
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{%endblock%}
</div>
