{%extends 'base.html'%}

{%block body%}
<style>
    #imgabout{
        width:100%;
        height: 200px;
        float: left;
    }
    
    .about{
        margin-top: 20%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .aboutimg{
        margin-top: 10%;
    }
</style>

<div class="container">
    <div class="row mb-2">

            <div class="col-6">
                <div class="about">
                    <h2 style="color: red;">About Us</h2>
                    <hr>
                    <p>At the Beauty Parlour, we believe in beauty with a conscience. We have created a salon that 
                        offers the highest quality hair services in a setting that is healthier for the environment, 
                        our guests and our staff. The Beauty Parlour is designed and built primarily with recycled 
                        materials: the floor is made of reclaimed wood from a local grain elevator – preserving and 
                        showcasing its natural texture – and most of the fixtures and furniture are refurbished or 
                        original vintage pieces.
                        <br>
                        We carry high quality professional hair products designed to ensure our guests look their
                        best, both in the salon and at home. The hair care products we carry have been carefully
                        chosen based both on performance and eco-sensitivity.
                        <br>
                        As a clean air salon, we offer ammonia-free colour services with little to no scent 
                        properties or chemical emanation.
                        <br> 
                        <br> 
                        <br>&nbsp;&nbsp;"I'm going to make everything around me beautiful - that will be my life"

                    </p>

                </div>
            </div>
            <div class="col-6">
                <div class="aboutimg">
                    <img src="../static/img/bride2.jpg" >
                </div>
            </div>
    </div>
</div>
    
{%endblock%}