<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<style>
        a{
            color: white;
            margin: 15px;
            text-decoration: none;
        }
    
        a:hover{
            color: red;
        }
    
        #main{
            padding-left:10px;
            font-size: 20px;
            text-align: center;   
        }       
</style>
{%load static%}
    {%include 'nav.html'%}

    <h2 >Beauty Parlour Management System </h2>
    
    {%block body%}

    {%endblock%}

    {%include 'footer.html'%}

    <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">  
    <script src="{%static 'js/popper.js'%}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    
</body>
</html>
