{% extends 'base.html'%}

{%block body%}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<style>
    body{
        margin: 0;
        padding: 0;
    }
    body:before{
        content: '';
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-image: url(../static/img/back.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .login-form{
        position: absolute;
        top: 25%;
        left: 15%;
        width: 500px;
        height: 510px;
        padding: 80px 40px;
        background:rgba(0,0,0,0.4);
    }

    .login-form h2{
        font-size: 25px;
        color: white;
        font-family: verdana;
    }
    #avatar{
        margin-top: -60px;
        border: 0.5 solid white;
        border-radius: 50%;
        margin-left: 24%;
        overflow: hidden;
    }

</style>
<div class="login-form">
    <img src="../static/img/p.jpg" width="210px" height="220px" id="avatar">
    <h2 class="text-center">Login Form</h2>
    {%if messages%}
{%for i in messages%}
    <small class="{{i.tags}}" style="color: yellow;text-align:center;">{{i}}</small>
{%endfor%}
{%endif%}
    <br>

<form method="POST"> 
    {%csrf_token%}
    <table class="table">
        <tr> 
            <td>Username</td>
            <td><input type="text" name="uname"></td>
        </tr>
        <tr> 
            <td>Password</td>
            <td><input type="password" name="passw"></td>
        </tr>
        <tr> 
            <td><input type="submit" value="Login"></td>
        </tr>
    </table>
</form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{%endblock%}
